.enfermedades{
    width: 90%;
    margin: 0 auto;
    padding: 30px;
}

.enfermedades h2{
    text-align: left;
    font-size: 2rem;
    margin-bottom: 15px;
}

.texto{
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 30px;
}

.img-info{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.img-info img{
    width: 80%;
    max-width: 700px;

    border: 5px solid blue;
    border-radius: 20px;

    padding: 5px;
}

/* CELULAR */
@media (max-width:767px){

    .enfermedades{
        width: 95%;
        padding: 15px;
    }

    .enfermedades h2{
        font-size: 1.5rem;
    }

    .texto{
        font-size: 1rem;
        line-height: 1.6;
    }

    .img-info img{
        width: 100%;
    }

}


/* LAPTOP */
@media (min-width:768px){

    .enfermedades{
        width: 85%;
    }

    .enfermedades h2{
        font-size: 2.2rem;
    }

    .texto{
        font-size: 1.2rem;
    }

    .img-info img{
        width: 70%;
    }

}


/* PANTALLAS GRANDES */
@media (min-width:1024px){

    .enfermedades{
        width: 80%;
        max-width: 1200px;
    }

    .img-info img{
        width: 60%;
    }

}